---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import Problem from '../components/Problem.astro'
import Features from '../components/Features.astro'
import Pricing from '../components/Pricing.astro'
import EarlyAccess from '../components/EarlyAccess.astro'
import Footer from '../components/Footer.astro'
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Problem />
    <Features />
    <Pricing />
    <EarlyAccess />
  </main>
  <Footer />
</Layout>
